:root {
	--nc-tx-1: #3c3836;
	--nc-tx-2: #282828;
	--nc-bg-1: #f9f5d7;
	--nc-bg-2: #fbf1c7;
	--nc-bg-3: #ebdbb2;
	--nc-lk-1: #458588;
	--nc-lk-2: #458588;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #076778;
	--nc-ac-tx: #8F3F81;
	--nc-err-fg: #CC241D;
	--nc-err-bg: #FBCEB1;
}
