:root {
	--nc-tx-1: #FBF1C7;
	--nc-tx-2: #EBDBB2;
	--nc-bg-1: #282828;
	--nc-bg-2: #3C3836;
	--nc-bg-3: #504945;
	--nc-lk-1: #458588;
	--nc-lk-2: #458588;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #D65D0E;
	--nc-ac-tx: #FABD2F;
	--nc-err-fg: #CC241D;
	--nc-err-bg: #3D0C02;
}
